In [14]:
import pandas as pd

df = pd.read_parquet("pns_2019.parquet")
df

,V0001,V0024,UPA_PNS,V0006_PNS,V0015,V0020,V0022,V0026,V0031,V0025A,...,VDE002,VDE014,VDF002,VDF003,VDF004,VDL001,VDM001,VDP001,VDR001,VDDATA
0,11,1110011,110000016,1,1,2019,6,1,1,1,...,1,6,2098,350,2,NA,NA,NA,NA,20210825
1,11,1110011,110000016,1,1,2019,6,1,1,0,...,NA,NA,2098,350,2,NA,NA,NA,NA,20210825
2,11,1110011,110000016,1,1,2019,6,1,1,0,...,1,4,2098,350,2,NA,NA,NA,NA,20210825
3,11,1110011,110000016,1,1,2019,6,1,1,9,...,NA,NA,2098,350,2,NA,NA,NA,NA,20210825
4,11,1110011,110000016,1,1,2019,6,1,1,9,...,NA,NA,2098,350,2,NA,NA,NA,NA,20210825
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
293721,53,5310220,530044434,14,1,2019,4,2,1,0,...,1,1,13390,3348,6,NA,NA,NA,NA,20210825
293722,53,5310220,530044434,14,1,2019,4,2,1,1,...,NA,NA,13390,3348,6,NA,NA,NA,NA,20210825
293723,53,5310220,530044434,14,1,2019,4,2,1,0,...,1,7,13390,3348,6,NA,NA,NA,NA,20210825
293724,53,5310220,530044434,14,1,2019,4,2,1,9,...,NA,NA,13390,3348,6,NA,NA,NA,NA,20210825
293725,53,5310220,530044434,15,8,2019,NA,2,1,NA,...,NA,NA,NA,NA,NA,NA,NA,NA,NA,20210825

In [15]:
colunas_interesse = [
    "P00104", "P00404", "P01101", "P013", "P015", 
    "P023", "P02401", "P00901", "P01001", "P018", "P019",
    "P02001", "P02002", "P03701", "P03702",
    "P02501", "P02602", "P02601", "P027", "P029",
    "P034", "P035", "P050", "M00510", "Q00201", "Q06306",
    "Q06307", "Q06308", "Q06309", "Q06310", "Q06311",
    "00301", "Q060", "Q124", "N001", "N010", "N011",
    "C008", "C006"
]

# Garantir que só pegamos colunas que existem no dataset
colunas_existentes = [c for c in colunas_interesse if c in df.columns]

# Filtrar a base
df_filtrado = df[colunas_existentes]

df_filtrado

,P00104,P00404,P01101,P013,P015,P023,P02401,P00901,P01001,P018,...,Q06309,Q06310,Q06311,Q060,Q124,N001,N010,N011,C008,C006
0,60,145,3,6,3,7,2,1,NA,3,...,NA,NA,NA,1,2,3,4,2,55,2
1,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,...,NA,NA,NA,NA,NA,NA,NA,NA,69,1
2,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,...,NA,NA,NA,NA,NA,NA,NA,NA,31,1
3,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,...,NA,NA,NA,NA,NA,NA,NA,NA,9,1
4,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,...,NA,NA,NA,NA,NA,NA,NA,NA,6,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
293721,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,...,NA,NA,NA,NA,NA,NA,NA,NA,49,2
293722,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,...,NA,NA,NA,NA,NA,NA,NA,NA,84,1
293723,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,...,NA,NA,NA,NA,NA,NA,NA,NA,21,1
293724,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,...,NA,NA,NA,NA,NA,NA,NA,NA,13,2
293725,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,...,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA

In [16]:
df_filtrado['Q00201'].unique()

array(['1', 'NA', '2'], dtype=object)

In [17]:
df_filtrado2 = df_filtrado[
    (df_filtrado['Q00201'] == '2')  # hipertensao = "Não"
    |
    (df_filtrado['Q00201'] == '1')              # ou hipertensão = "Sim"
]

df_filtrado2

,P00104,P00404,P01101,P013,P015,P023,P02401,P00901,P01001,P018,...,Q06309,Q06310,Q06311,Q060,Q124,N001,N010,N011,C008,C006
0,60,145,3,6,3,7,2,1,NA,3,...,NA,NA,NA,1,2,3,4,2,55,2
9,65,152,4,2,0,0,NA,4,NA,0,...,NA,NA,NA,2,2,2,1,1,19,2
10,77,155,7,0,3,0,NA,7,1,7,...,NA,NA,NA,2,2,3,1,3,45,2
18,56,159,7,3,3,0,NA,3,NA,3,...,NA,NA,NA,2,2,3,1,1,58,2
19,55,176,3,2,1,7,2,3,NA,3,...,NA,NA,NA,2,2,2,1,1,28,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
293709,63,168,3,2,0,0,NA,7,2,2,...,NA,NA,NA,2,2,3,1,2,54,2
293712,72,168,7,7,2,0,NA,7,2,3,...,NA,NA,NA,NA,2,2,2,1,44,1
293713,87,163,6,0,0,7,2,2,NA,1,...,NA,NA,NA,2,2,2,1,1,32,2
293718,89,168,3,3,0,0,NA,6,2,3,...,NA,NA,NA,2,2,3,1,1,54,1
293720,62,186,6,2,0,7,2,4,NA,5,...,NA,NA,NA,NA,2,3,1,1,32,1

In [18]:
df_filtrado2["C008"].astype(int).mean()

np.float64(46.75135232600072)

In [19]:
df_filtrado2.to_csv("pns_filtrada.csv", index=False, sep=";")

df_filtrado2.to_parquet("pns_filtrada.parquet", index=False)

In [20]:
dicionario = pd.read_excel("dicionarios/dicionario_PNS_microdados_2019_23062023.xlsx", header=1)
dicionario

,Posição inicial,Tamanho,Código\nda\nvariável,Quesito,Unnamed: 4,Categorias,Unnamed: 6
0,NaN,NaN,NaN,nº,descrição,Tipo,Descrição
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Parte 1 - Identificação e Controle,NaN,NaN,NaN,NaN,NaN,NaN
3,1,2.0,V0001,NaN,Unidade da Federação,11,Rondônia
4,NaN,NaN,NaN,NaN,NaN,12,Acre
...,...,...,...,...,...,...,...
5217,NaN,NaN,NaN,NaN,NaN,7,"Outro método moderno (camisinha feminina, pílu..."
5218,NaN,NaN,NaN,NaN,NaN,8,Tabelinha/ Billings
5219,NaN,NaN,NaN,NaN,NaN,9,Outro método tradicional
5220,NaN,NaN,NaN,NaN,NaN,NaN,Não aplicável
5221,1541,8.0,VDDATA,NaN,Data de geração do arquivo de microdados. Data...,NaN,NaN

In [21]:
dic_limpo = dicionario.drop(dicionario.columns[[0, 1, 3, 5, 6]], axis=1)
dic_limpo

     Código\nda\nvariável                                         Unnamed: 4
0                     NaN                                          descrição
1                     NaN                                                NaN
2                     NaN                                                NaN
3                   V0001                               Unidade da Federação
4                     NaN                                                NaN
...                   ...                                                ...
5217                  NaN                                                NaN
5218                  NaN                                                NaN
5219                  NaN                                                NaN
5220                  NaN                                                NaN
5221               VDDATA  Data de geração do arquivo de microdados. Data...

[5222 rows x 2 columns]

In [22]:
dic_limpo = dic_limpo.rename(columns={
    dic_limpo.columns[0]: "codigo",
    dic_limpo.columns[1]: "descricao"
})
dic_limpo

      codigo                                          descricao
0        NaN                                          descrição
1        NaN                                                NaN
2        NaN                                                NaN
3      V0001                               Unidade da Federação
4        NaN                                                NaN
...      ...                                                ...
5217     NaN                                                NaN
5218     NaN                                                NaN
5219     NaN                                                NaN
5220     NaN                                                NaN
5221  VDDATA  Data de geração do arquivo de microdados. Data...

[5222 rows x 2 columns]

In [23]:
import pandas as pd

# Quantos são nulos na coluna 0 e na coluna 1
nulos_0_e_1 = dic_limpo[dic_limpo['codigo'].isna() & dic_limpo['descricao'].isna()].shape[0]

# Quantos não são nulos na coluna 0 e na coluna 1
nao_nulos_0_e_1 = dic_limpo[~dic_limpo['codigo'].isna() & ~dic_limpo['descricao'].isna()].shape[0]

# Quantos são nulos na coluna 0, mas não na coluna 1
nulos_0_nao_1 = dic_limpo[dic_limpo['codigo'].isna() & ~dic_limpo['descricao'].isna()].shape[0]

# Quantos são nulos na coluna 1, mas não na coluna 0
nulos_1_nao_0 = dic_limpo[~dic_limpo['codigo'].isna() & dic_limpo['descricao'].isna()].shape[0]

print("Nulos em 0 e 1:", nulos_0_e_1)
print("Não nulos em 0 e 1:", nao_nulos_0_e_1)
print("Nulos em 0, não em 1:", nulos_0_nao_1)
print("Nulos em 1, não em 0:", nulos_1_nao_0)

Nulos em 0 e 1: 4132
Não nulos em 0 e 1: 1089
Nulos em 0, não em 1: 1
Nulos em 1, não em 0: 0

In [24]:
# Remove linhas com código nulo
dic_limpo.dropna(subset=['codigo'], inplace=True)

# Reseta o índice
dic_limpo.reset_index(drop=True, inplace=True)

dic_limpo

         codigo                                          descricao
0         V0001                               Unidade da Federação
1         V0024                                            Estrato
2       UPA_PNS                                                UPA
3     V0006_PNS                Número de ordem do domicílio na PNS
4         V0015                                 Tipo da entrevista
...         ...                                                ...
1084     VDL001  Idade em meses das crianças nascidas no períod...
1085     VDM001  Faixa de tempo gasto por dia no deslocamento c...
1086     VDP001           Tipo de cigarro industrializado comprado
1087     VDR001       Método contraceptivo mais eficaz que faz uso
1088     VDDATA  Data de geração do arquivo de microdados. Data...

[1089 rows x 2 columns]

In [25]:
# Filtra dic_limpo para manter apenas códigos que estão nas colunas do df_filtrado
dic_limpo = dic_limpo[dic_limpo['codigo'].isin(df_filtrado.columns)].reset_index(drop=True)

dic_limpo

    codigo                                          descricao
0     C006                                               Sexo
1     C008             Idade do morador na data de referência
2     N001       Em geral, como o(a) Sr(a) avalia a sua saúde
3     N010  Nas duas últimas semanas, com que frequência o...
4     N011  Nas duas últimas semanas, com que frequência o...
5   P00104  Peso - Final (em kg)\n(3 inteiros e 1 casa dec...
6   P00404               Altura - Final (em cm)\n(3 inteiros)
7   P00901  Em quantos dias da semana, o(a) Sr(a) costuma ...
8   P01001  Em geral, o(a) Sr(a) costuma comer esse tipo d...
9   P01101  Em quantos dias da semana o(a) Sr(a) costuma c...
10    P013  Em quantos dias da semana o(a) Sr(a) costuma c...
11    P015  Em quantos dias da semana o(a) Sr(a) costuma c...
12  P02001  Em quantos dias da semana o(a) Sr(a) costuma t...
13    P018  Em quantos dias da semana o(a) Sr(a) costuma c...
14    P019  Em geral, quantas vezes por dia o(a) Sr(a) com...
15  P02002  Em quantos dias da semana o(a) Sr(a) costuma t...
16    P023  Em quantos dias da semana o(a) Sr(a) costuma t...
17  P02401       Que tipo de leite o(a) Sr(a) costuma tomar?
18  P02501  Em quantos dias da semana o(a) Sr(a) costuma c...
19  P02602  Em quantos dias da semana o(a) Sr(a) costuma s...
20  P02601  Considerando a comida preparada na hora e os a...
21    P027  Com que frequência o(a) Sr(a) costuma consumir...
22    P029  Em geral, no dia que o(a) Sr(a) bebe, quantas ...
23    P034  Nos últimos três meses, o(a) Sr(a) praticou al...
24    P035  Quantos dias por semana o(a) Sr(a) costuma  (c...
25  P03701  Em geral, no dia que o(a) Sr(a) pratica exercí...
26  P03702  Em geral, no dia que o(a) Sr(a) pratica (prati...
27    P050  Atualmente, o(a) Sr(a) fuma algum produto do t...
28  Q00201  Algum médico já lhe deu o diagnóstico de hiper...
29    Q060  Algum médico já lhe deu o diagnóstico de coles...
30  Q06306  Algum médico já lhe deu o diagnóstico de uma d...
31  Q06307                                            Infarto
32  Q06308                                            Angina
33  Q06309                            Insuficiência cardíaca
34  Q06310                                          Arritmia
35  Q06311                                              Outra
36    Q124  Algum médico já lhe deu o diagnóstico de insuf...

In [26]:
# Ordenar dic_limpo na mesma ordem das colunas de df_filtrado
dic_limpo['codigo'] = pd.Categorical(dic_limpo['codigo'], categories=df_filtrado.columns, ordered=True)
dic_limpo = dic_limpo.sort_values('codigo').reset_index(drop=True)

# Salvar em CSV
dic_limpo.to_csv('dicionarios/dicionario_hip.csv', index=False, sep="|")