In [35]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import os

file_path = 'dados_sem_nulos.csv'
df = pd.read_csv(file_path)

print("Dados carregados com sucesso!")
print(f"O dataset tem {df.shape[0]} linhas e {df.shape[1]} colunas.\n")

numerical_cols = [
    'C008',
    'consumo_semanal_frutas',
    'consumo_semanal_verdura_legume',
    'minutos_atv_fis_semana',
    'IMC'
]

categorical_cols = [col for col in df.columns if col not in numerical_cols]

print("Gerando boxplots para colunas numéricas...")

output_dir_num = 'boxplots_numericos'
if not os.path.exists(output_dir_num):
    os.makedirs(output_dir_num)

for col in numerical_cols:
    plt.figure(figsize=(10, 6))
    sns.boxplot(x=df[col])
    plt.title(f'Boxplot para {col}', fontsize=15)
    plt.xlabel(col, fontsize=12)

    plt.savefig(os.path.join(output_dir_num, f'boxplot_{col}.png'))
    plt.close()

print(f"Boxplots salvos na pasta: '{output_dir_num}'")

print("\n--- Análise de Frequência para Colunas Categóricas ---")

for col in categorical_cols:
    print(f"\nContagem de valores para a coluna: '{col}'")

    freq_percent = df[col].value_counts(normalize=True) * 100

    freq_abs = df[col].value_counts()

    freq_df = pd.DataFrame({
        'Contagem': freq_abs,
        'Porcentagem (%)': freq_percent.round(2)
    })
    
    print(freq_df)

print("\n--- Análise de Outliers Concluída ---")

Dados carregados com sucesso!
O dataset tem 88736 linhas e 31 colunas.

Gerando boxplots para colunas numéricas...
Boxplots salvos na pasta: 'boxplots_numericos'

--- Análise de Frequência para Colunas Categóricas ---

Contagem de valores para a coluna: 'P01101'
        Contagem  Porcentagem (%)
P01101
3          20027            22.57
2          17542            19.77
7          12241            13.79
4          10716            12.08
1           9345            10.53
5           8481             9.56
0           7348             8.28
6           3036             3.42

Contagem de valores para a coluna: 'P013'
      Contagem  Porcentagem (%)
P013
2        23610            26.61
3        21975            24.76
1        10628            11.98
4        10277            11.58
5         7424             8.37
0         6580             7.42
7         5588             6.30
6         2654             2.99

Contagem de valores para a coluna: 'P015'
      Contagem  Porcentagem (%)
P015
0        41000            46.20
1        23962            27.00
2        11944            13.46
3         5629             6.34
4         2137             2.41
5         1724             1.94
7         1590             1.79
6          750             0.85

Contagem de valores para a coluna: 'P023'
      Contagem  Porcentagem (%)
P023
7        33790            38.08
0        26974            30.40
2         7085             7.98
3         6271             7.07
1         4895             5.52
5         4273             4.82
4         3301             3.72
6         2147             2.42

Contagem de valores para a coluna: 'P00901'
        Contagem  Porcentagem (%)
P00901
7          33817            38.11
3          12597            14.20
2          11048            12.45
5           8246             9.29
0           7225             8.14
4           6324             7.13
1           5472             6.17
6           4007             4.52

Contagem de valores para a coluna: 'P018'
      Contagem  Porcentagem (%)
P018
7        28474            32.09
3        13329            15.02
2        12362            13.93
0         9759            11.00
5         7912             8.92
4         7077             7.98
1         6422             7.24
6         3401             3.83

Contagem de valores para a coluna: 'P02001'
        Contagem  Porcentagem (%)
P02001
0          59018            66.51
2           6943             7.82
7           5837             6.58
1           5766             6.50
3           5026             5.66
5           2696             3.04
4           2229             2.51
6           1221             1.38

Contagem de valores para a coluna: 'P02002'
        Contagem  Porcentagem (%)
P02002
0          48776            54.97
1          15341            17.29
2          10978            12.37
3           4825             5.44
7           3590             4.05
4           2237             2.52
5           2101             2.37
6            888             1.00

Contagem de valores para a coluna: 'P02501'
        Contagem  Porcentagem (%)
P02501
0          41116            46.34
2          12491            14.08
1          11889            13.40
3           8482             9.56
7           7016             7.91
4           3484             3.93
5           3085             3.48
6           1173             1.32

Contagem de valores para a coluna: 'P02602'
        Contagem  Porcentagem (%)
P02602
0          71860            80.98
1           6780             7.64
2           5325             6.00
3           2412             2.72
4            809             0.91
7            745             0.84
5            624             0.70
6            181             0.20

Contagem de valores para a coluna: 'P02601'
        Contagem  Porcentagem (%)
P02601
3          52620            59.30
4          22771            25.66
2           8602             9.69
5           3431             3.87
1           1312             1.48

Contagem de valores para a coluna: 'P027'
      Contagem  Porcentagem (%)
P027
1        54162            61.04
3        23773            26.79
2        10801            12.17

Contagem de valores para a coluna: 'P050'
      Contagem  Porcentagem (%)
P050
3        77779            87.65
1         9829            11.08
2         1128             1.27

Contagem de valores para a coluna: 'Q00201'
        Contagem  Porcentagem (%)
Q00201
2          64885            73.12
1          23851            26.88

Contagem de valores para a coluna: 'Q06306'
        Contagem  Porcentagem (%)
Q06306
2          84016            94.68
1           4720             5.32

Contagem de valores para a coluna: 'Q060'
      Contagem  Porcentagem (%)
Q060
2        75291            84.85
1        13445            15.15

Contagem de valores para a coluna: 'Q124'
      Contagem  Porcentagem (%)
Q124
2        87451            98.55
1         1285             1.45

Contagem de valores para a coluna: 'N001'
      Contagem  Porcentagem (%)
N001
2        43554            49.08
3        27494            30.98
1        11637            13.11
4         4896             5.52
5         1155             1.30

Contagem de valores para a coluna: 'N010'
      Contagem  Porcentagem (%)
N010
1        56404            63.56
2        15803            17.81
4        10827            12.20
3         5702             6.43

Contagem de valores para a coluna: 'N011'
      Contagem  Porcentagem (%)
N011
1        55483            62.53
2        20420            23.01
4         7118             8.02
3         5715             6.44

Contagem de valores para a coluna: 'C006'
      Contagem  Porcentagem (%)
C006
2        47371            53.38
1        41365            46.62

Contagem de valores para a coluna: 'infarto'
         Contagem  Porcentagem (%)
infarto
2           87356            98.44
1            1380             1.56

Contagem de valores para a coluna: 'angina'
        Contagem  Porcentagem (%)
angina
2          88060            99.24
1            676             0.76

Contagem de valores para a coluna: 'insuficiencia_cardiaca'
                        Contagem  Porcentagem (%)
insuficiencia_cardiaca
2                          87711            98.84
1                           1025             1.16

Contagem de valores para a coluna: 'arritmia'
          Contagem  Porcentagem (%)
arritmia
2            86663            97.66
1             2073             2.34

Contagem de valores para a coluna: 'outra_doenca_cardiaca'
                       Contagem  Porcentagem (%)
outra_doenca_cardiaca
2                         87912            99.07
1                           824             0.93

--- Análise de Outliers Concluída ---

In [36]:
#tratando atributos com winsoriazação
df['N001'] = np.where(df['N001'] >= 4, 4, df['N001'])
df['P050'] = np.where(df['P050'] == 2, 1, df['P050'])

#tratando atributos com agrupamento 
soma = df['P02001'] + df['P02002']

conditions = [
    (soma == 0), 
    (soma.between(1, 2)),
    (soma.between(3, 4)),
    (soma >= 5)
]

# 0='Nada', 1='Pouco', 2='Moderado', 3='Muito'
labels = [0, 1, 2, 3]

df['bebidas_acucar_dias_semana'] = np.select(conditions, labels, default=np.nan)

#tratando atributos com binnig
def converter_consumo_semanal(col):
    bins = [-np.inf, 0, 2, 4, np.inf]

    #0 dias, 1-2 dias, 3-4 dias, 5+ dias
    labels = [0, 1, 2, 3]

    df[col] = pd.cut(df[col], 
                                bins=bins, 
                                labels=labels, 
                                right=True)

cols = ['P01101', 'P013', 'P015', 'P023', 'P00901',
        'P018', 'P02501', 'P02602']

for col in cols:
    converter_consumo_semanal(col)

for col in cols:
    if col in df.columns:
        df[col] = pd.to_numeric(df[col])

#1 = alto, 2 = moderado, 3 = baixo consumo de sal
mapa = {
    1: 1,
    2: 1,
    3: 2,
    4: 3,
    5: 3
}

df['P02601'] = df['P02601'].map(mapa)

#essa coluna ainda ficaria com uma classe muito escassa, então estou
#juntando ambas
df['P02602'] = np.where(df['P02602'] == 3, 2, df['P02602'])

#removendo atributos com classe muito predominante
df = df.drop(columns=['infarto', 'angina', 'insuficiencia_cardiaca',
                  'arritmia', 'outra_doenca_cardiaca', 'Q124',
                  'P02001', 'P02002'])
#como esses atributos a maioria é doença cardiaca (que já está no dataset)
#e o outro não é tão relevante, não vou remover as instâncias

In [37]:
categorical_cols.append('bebidas_acucar_dias_semana')

itens_para_remover = [
    'infarto', 
    'angina', 
    'insuficiencia_cardiaca',
    'arritmia', 
    'outra_doenca_cardiaca', 
    'Q124',
    'P02002',
    'P02001'
]

for item in itens_para_remover:
    try:
        categorical_cols.remove(item)
    except ValueError:
        pass 


for col in categorical_cols:
    print(f"\nContagem de valores para a coluna: '{col}'")

    freq_percent = df[col].value_counts(normalize=True) * 100

    freq_abs = df[col].value_counts()

    freq_df = pd.DataFrame({
        'Contagem': freq_abs,
        'Porcentagem (%)': freq_percent.round(2)
    })
    
    print(freq_df)

print("\n--- Análise de Outliers Concluída ---")

Contagem de valores para a coluna: 'P01101'
        Contagem  Porcentagem (%)
P01101
2          30743            34.65
1          26887            30.30
3          23758            26.77
0           7348             8.28

Contagem de valores para a coluna: 'P013'
      Contagem  Porcentagem (%)
P013
1        34238            38.58
2        32252            36.35
3        15666            17.65
0         6580             7.42

Contagem de valores para a coluna: 'P015'
      Contagem  Porcentagem (%)
P015
0        41000            46.20
1        35906            40.46
2         7766             8.75
3         4064             4.58

Contagem de valores para a coluna: 'P023'
      Contagem  Porcentagem (%)
P023
3        40210            45.31
0        26974            30.40
1        11980            13.50
2         9572            10.79

Contagem de valores para a coluna: 'P00901'
        Contagem  Porcentagem (%)
P00901
3          46070            51.92
2          18921            21.32
1          16520            18.62
0           7225             8.14

Contagem de valores para a coluna: 'P018'
      Contagem  Porcentagem (%)
P018
3        39787            44.84
2        20406            23.00
1        18784            21.17
0         9759            11.00

Contagem de valores para a coluna: 'P02501'
        Contagem  Porcentagem (%)
P02501
0          41116            46.34
1          24380            27.47
2          11966            13.48
3          11274            12.71

Contagem de valores para a coluna: 'P02602'
        Contagem  Porcentagem (%)
P02602
0          71860            80.98
1          12105            13.64
2           4771             5.38

Contagem de valores para a coluna: 'P02601'
        Contagem  Porcentagem (%)
P02601
2          52620            59.30
3          26202            29.53
1           9914            11.17

Contagem de valores para a coluna: 'P027'
      Contagem  Porcentagem (%)
P027
1        54162            61.04
3        23773            26.79
2        10801            12.17

Contagem de valores para a coluna: 'P050'
      Contagem  Porcentagem (%)
P050
3        77779            87.65
1        10957            12.35

Contagem de valores para a coluna: 'Q00201'
        Contagem  Porcentagem (%)
Q00201
2          64885            73.12
1          23851            26.88

Contagem de valores para a coluna: 'Q06306'
        Contagem  Porcentagem (%)
Q06306
2          84016            94.68
1           4720             5.32

Contagem de valores para a coluna: 'Q060'
      Contagem  Porcentagem (%)
Q060
2        75291            84.85
1        13445            15.15

Contagem de valores para a coluna: 'N001'
      Contagem  Porcentagem (%)
N001
2        43554            49.08
3        27494            30.98
1        11637            13.11
4         6051             6.82

Contagem de valores para a coluna: 'N010'
      Contagem  Porcentagem (%)
N010
1        56404            63.56
2        15803            17.81
4        10827            12.20
3         5702             6.43

Contagem de valores para a coluna: 'N011'
      Contagem  Porcentagem (%)
N011
1        55483            62.53
2        20420            23.01
4         7118             8.02
3         5715             6.44

Contagem de valores para a coluna: 'C006'
      Contagem  Porcentagem (%)
C006
2        47371            53.38
1        41365            46.62

Contagem de valores para a coluna: 'bebidas_acucar_dias_semana'
                            Contagem  Porcentagem (%)
bebidas_acucar_dias_semana
0.0                            37970            42.79
1.0                            20489            23.09
3.0                            19115            21.54
2.0                            11162            12.58

--- Análise de Outliers Concluída ---

In [38]:
# 1. Definir os limites (bins) para 4 categorias
bins = [
    -1,                   # Limite inferior
    0,                    # Categoria 1: Sedentário (apenas o 0)
    149,                  # Categoria 2: Insuficientemente Ativo (1 a 149)
    299,                  # Categoria 3: Ativo (150 a 299)
    np.inf                # Categoria 4: Muito Ativo (300+)
]

# 2. Definir os rótulos (labels)
labels = [
    0, #'sedentario'
    1, #'insuficientemente_ativo'
    2, #'ativo_recomendado'
    3, #'muito_ativo'
]

# 3. Criar a nova coluna categórica
# Use a coluna ORIGINAL de minutos, não a '_yeo'
df['atividade_fisica_categoria'] = pd.cut(
    df['minutos_atv_fis_semana'], 
    bins=bins, 
    labels=labels, 
    right=True 
)
df['atividade_fisica_categoria'] = pd.to_numeric(df['atividade_fisica_categoria'])

print("Categorias criadas e sua distribuição:")
print(df['atividade_fisica_categoria'].value_counts().sort_index())

bins_imc = [
    0, 18.5, 24.9, 29.9, 34.9, 39.9, np.inf
]
# 'Abaixo do Peso', 'Peso Normal', 'Sobrepeso', 
# 'Obesidade Grau I', 'Obesidade Grau II', 'Obesidade Grau III'
labels_imc = [1, 2, 3, 4, 5, 6]

# 3. Criar a nova coluna categórica
df['IMC_Categoria'] = pd.cut(df['IMC'], bins=bins_imc, labels=labels_imc, right=False)
df['IMC_Categoria'] = pd.to_numeric(df['IMC_Categoria'])

# 4. Verificar o resultado
print("Contagem de pacientes por Categoria de IMC (Método Recomendado):")
print(df['IMC_Categoria'].value_counts().sort_index())

Categorias criadas e sua distribuição:
atividade_fisica_categoria
0    54354
1    11732
2    11319
3    11331
Name: count, dtype: int64
Contagem de pacientes por Categoria de IMC (Método Recomendado):
IMC_Categoria
1     2133
2    34357
3    33533
4    13764
5     3737
6     1212
Name: count, dtype: int64

In [39]:
df = df.drop(columns=['consumo_semanal_verdura_legume', 
                      'consumo_semanal_frutas',  'IMC', 'minutos_atv_fis_semana'])
#vou remover essas colunas porque o tratamento delas é muito desbalanceado
#já que só conta quantas vezes por dia a pessoa consome a partir de 5 dias por s
df

,P01101,P013,P015,P023,P00901,P018,P02501,P02602,P02601,P027,...,Q06306,Q060,N001,N010,N011,C008,C006,bebidas_acucar_dias_semana,atividade_fisica_categoria,IMC_Categoria
0,3,1,1,3,3,1,2,0,2,1,...,2,2,1,1,2,30,1,3.0,2,3
1,3,1,1,3,2,3,3,0,2,1,...,2,2,2,1,1,80,2,0.0,0,2
2,0,3,0,0,3,3,1,0,3,1,...,2,1,2,1,1,56,2,1.0,1,3
3,2,2,1,0,3,3,1,0,2,1,...,2,2,2,1,4,34,2,0.0,0,2
4,2,2,0,1,2,2,0,0,2,1,...,2,2,2,1,1,40,2,0.0,3,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88731,1,2,1,0,2,1,0,0,2,1,...,2,2,2,4,4,30,2,2.0,0,5
88732,1,1,1,2,2,2,0,0,2,3,...,2,2,2,1,1,39,1,1.0,3,3
88733,1,2,1,2,2,1,1,0,2,3,...,2,2,2,1,1,34,1,2.0,0,4
88734,2,2,1,2,3,3,0,0,2,1,...,2,1,1,1,1,51,2,1.0,2,3
88735,2,2,0,0,2,1,1,1,2,2,...,2,2,3,3,2,37,1,3.0,0,2

In [ ]:
dicionario = pd.read_excel("dicionarios/dicionario_PNS_microdados_2019_23062023.xlsx", header=1)
dic_limpo = dicionario.drop(dicionario.columns[[0, 1, 3, 5, 6]], axis=1)
dic_limpo = dic_limpo.rename(columns={
    dic_limpo.columns[0]: "codigo",
    dic_limpo.columns[1]: "descricao"
})
dic_limpo.dropna(subset=['codigo'], inplace=True)
dic_limpo.reset_index(drop=True, inplace=True)

tipos_das_colunas = df.dtypes

dic_completo = pd.DataFrame({
    'codigo': tipos_das_colunas.index,
    'tipo': tipos_das_colunas.values
})

dic_completo['tipo'] = dic_completo['tipo'].astype(str)

dic_completo = pd.merge(
    dic_completo,
    dic_limpo[['codigo', 'descricao']],
    on='codigo',
    how='left'
)

dic_completo['descricao'] = dic_completo['descricao'].fillna("")

dic_completo = dic_completo[['codigo', 'descricao', 'tipo']]

print("Dicionário de dados completo (com colunas novas) e tipos:")
display(dic_completo)

Dicionário de dados completo (com colunas novas) e tipos:

,codigo,descricao,tipo
0,P01101,Em quantos dias da semana o(a) Sr(a) costuma c...,int64
1,P013,Em quantos dias da semana o(a) Sr(a) costuma c...,int64
2,P015,Em quantos dias da semana o(a) Sr(a) costuma c...,int64
3,P023,Em quantos dias da semana o(a) Sr(a) costuma t...,int64
4,P00901,"Em quantos dias da semana, o(a) Sr(a) costuma ...",int64
5,P018,Em quantos dias da semana o(a) Sr(a) costuma c...,int64
6,P02501,Em quantos dias da semana o(a) Sr(a) costuma c...,int64
7,P02602,Em quantos dias da semana o(a) Sr(a) costuma s...,int64
8,P02601,Considerando a comida preparada na hora e os a...,int64
9,P027,Com que frequência o(a) Sr(a) costuma consumir...,int64
10,P050,"Atualmente, o(a) Sr(a) fuma algum produto do t...",int64
11,Q00201,Algum médico já lhe deu o diagnóstico de hiper...,int64
12,Q06306,Algum médico já lhe deu o diagnóstico de uma d...,int64
13,Q060,Algum médico já lhe deu o diagnóstico de coles...,int64
14,N001,"Em geral, como o(a) Sr(a) avalia a sua saúde",int64
15,N010,"Nas duas últimas semanas, com que frequência o...",int64
16,N011,"Nas duas últimas semanas, com que frequência o...",int64
17,C008,Idade do morador na data de referência,int64
18,C006,Sexo,int64
19,bebidas_acucar_dias_semana,,float64
20,atividade_fisica_categoria,,int64
21,IMC_Categoria,,int64

In [42]:
mapa_renomear = {
    # --- Hábitos Alimentares ---
    'P01101': 'consumo_carne_vermelha',
    'P013': 'consumo_frango',
    'P015': 'consumo_peixe',
    'P023': 'consumo_leite',
    'P00901': 'consumo_verdura_legume',
    'P018': 'consumo_frutas',
    'P02501': 'consumo_doces',
    'P02602': 'consumo_substitui_almoco',
    'P02601': 'percepcao_consumo_sal',
    
    # --- Outros Hábitos de Vida ---
    'P027': 'freq_bebida_alcoolica',
    'P050': 'fumante_atual',
    
    # --- Diagnósticos Médicos (Saúde) ---
    'Q00201': 'diag_hipertensao',
    'Q06306': 'diag_doenca_coracao',
    'Q060': 'diag_colesterol_alto',
    
    # --- Saúde Geral e Bem-estar ---
    'N001': 'autoavaliacao_saude',
    'N010': 'freq_problemas_sono',
    'N011': 'freq_cansaco',
    
    # --- Demográficos ---
    'C008': 'idade',
    'C006': 'sexo'
}

# --- Como usar ---

# 1. Renomear as colunas no seu DataFrame principal
df = df.rename(columns=mapa_renomear)

# 2. (Importante) Atualizar o seu 'dic_completo' para refletir os novos nomes
#    Isso garante que seu dicionário de dados permaneça correto.
dic_completo['codigo'] = dic_completo['codigo'].replace(mapa_renomear)

# 3. (Opcional) Salvar este novo dicionário renomeado
dic_completo.to_csv('dicionarios/dicionario_renomeado.csv', index=False, sep="|")

df.to_csv("dados_sem_outliers.csv", index=False)

# Verificar o resultado
print("DataFrame com colunas renomeadas:")
display(df.head())

print("\nDicionário de dados atualizado:")
display(dic_completo)

DataFrame com colunas renomeadas:

,consumo_carne_vermelha,consumo_frango,consumo_peixe,consumo_leite,consumo_verdura_legume,consumo_frutas,consumo_doces,consumo_substitui_almoco,percepcao_consumo_sal,freq_bebida_alcoolica,...,diag_doenca_coracao,diag_colesterol_alto,autoavaliacao_saude,freq_problemas_sono,freq_cansaco,idade,sexo,bebidas_acucar_dias_semana,atividade_fisica_categoria,IMC_Categoria
0,3,1,1,3,3,1,2,0,2,1,...,2,2,1,1,2,30,1,3.0,2,3
1,3,1,1,3,2,3,3,0,2,1,...,2,2,2,1,1,80,2,0.0,0,2
2,0,3,0,0,3,3,1,0,3,1,...,2,1,2,1,1,56,2,1.0,1,3
3,2,2,1,0,3,3,1,0,2,1,...,2,2,2,1,4,34,2,0.0,0,2
4,2,2,0,1,2,2,0,0,2,1,...,2,2,2,1,1,40,2,0.0,3,5

Dicionário de dados atualizado:

,codigo,descricao,tipo
0,consumo_carne_vermelha,Em quantos dias da semana o(a) Sr(a) costuma c...,int64
1,consumo_frango,Em quantos dias da semana o(a) Sr(a) costuma c...,int64
2,consumo_peixe,Em quantos dias da semana o(a) Sr(a) costuma c...,int64
3,consumo_leite,Em quantos dias da semana o(a) Sr(a) costuma t...,int64
4,consumo_verdura_legume,"Em quantos dias da semana, o(a) Sr(a) costuma ...",int64
5,consumo_frutas,Em quantos dias da semana o(a) Sr(a) costuma c...,int64
6,consumo_doces,Em quantos dias da semana o(a) Sr(a) costuma c...,int64
7,consumo_substitui_almoco,Em quantos dias da semana o(a) Sr(a) costuma s...,int64
8,percepcao_consumo_sal,Considerando a comida preparada na hora e os a...,int64
9,freq_bebida_alcoolica,Com que frequência o(a) Sr(a) costuma consumir...,int64
10,fumante_atual,"Atualmente, o(a) Sr(a) fuma algum produto do t...",int64
11,diag_hipertensao,Algum médico já lhe deu o diagnóstico de hiper...,int64
12,diag_doenca_coracao,Algum médico já lhe deu o diagnóstico de uma d...,int64
13,diag_colesterol_alto,Algum médico já lhe deu o diagnóstico de coles...,int64
14,autoavaliacao_saude,"Em geral, como o(a) Sr(a) avalia a sua saúde",int64
15,freq_problemas_sono,"Nas duas últimas semanas, com que frequência o...",int64
16,freq_cansaco,"Nas duas últimas semanas, com que frequência o...",int64
17,idade,Idade do morador na data de referência,int64
18,sexo,Sexo,int64
19,bebidas_acucar_dias_semana,,float64
20,atividade_fisica_categoria,,int64
21,IMC_Categoria,,int64