In [14]:
import pandas as pd
import numpy as np

df = pd.read_parquet("pns_filtrada.parquet").copy()
df = df.replace('NA', np.nan)
df

,P00104,P00404,P01101,P013,P015,P023,P02401,P00901,P01001,P018,...,Q06309,Q06310,Q06311,Q060,Q124,N001,N010,N011,C008,C006
0,60,145,3,6,3,7,2,1,NaN,3,...,NaN,NaN,NaN,1,2,3,4,2,55,2
1,65,152,4,2,0,0,NaN,4,NaN,0,...,NaN,NaN,NaN,2,2,2,1,1,19,2
2,77,155,7,0,3,0,NaN,7,1,7,...,NaN,NaN,NaN,2,2,3,1,3,45,2
3,56,159,7,3,3,0,NaN,3,NaN,3,...,NaN,NaN,NaN,2,2,3,1,1,58,2
4,55,176,3,2,1,7,2,3,NaN,3,...,NaN,NaN,NaN,2,2,2,1,1,28,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88731,63,168,3,2,0,0,NaN,7,2,2,...,NaN,NaN,NaN,2,2,3,1,2,54,2
88732,72,168,7,7,2,0,NaN,7,2,3,...,NaN,NaN,NaN,NaN,2,2,2,1,44,1
88733,87,163,6,0,0,7,2,2,NaN,1,...,NaN,NaN,NaN,2,2,2,1,1,32,2
88734,89,168,3,3,0,0,NaN,6,2,3,...,NaN,NaN,NaN,2,2,3,1,1,54,1
88735,62,186,6,2,0,7,2,4,NaN,5,...,NaN,NaN,NaN,NaN,2,3,1,1,32,1

In [15]:
df_hipertensao = df.loc[df['Q00201'].isin(['1', '2'])].copy()

def converter_numerico(data, coluna):
    data.loc[:, coluna] = pd.to_numeric(data[coluna], errors='coerce')

cols = [
    "P01101", "P013", "P015", "P023", "P00901",
    "P018", "P019", "P02001", "P02002", "P035", "P03701",
    "P029", "P03702", "C008", "P00104", "P00404",
    "P02501", "P02601", "P02602", "N001", "N010", "N011"
]

for col in cols:
    if col in df_hipertensao.columns:
        converter_numerico(df_hipertensao, col)

df_hipertensao = df_hipertensao.reset_index(drop=True)
df_hipertensao

,P00104,P00404,P01101,P013,P015,P023,P02401,P00901,P01001,P018,...,Q06309,Q06310,Q06311,Q060,Q124,N001,N010,N011,C008,C006
0,60.0,145.0,3,6,3,7,2,1,NaN,3,...,NaN,NaN,NaN,1,2,3,4,2,55,2
1,65.0,152.0,4,2,0,0,NaN,4,NaN,0,...,NaN,NaN,NaN,2,2,2,1,1,19,2
2,77.0,155.0,7,0,3,0,NaN,7,1,7,...,NaN,NaN,NaN,2,2,3,1,3,45,2
3,56.0,159.0,7,3,3,0,NaN,3,NaN,3,...,NaN,NaN,NaN,2,2,3,1,1,58,2
4,55.0,176.0,3,2,1,7,2,3,NaN,3,...,NaN,NaN,NaN,2,2,2,1,1,28,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88731,63.0,168.0,3,2,0,0,NaN,7,2,2,...,NaN,NaN,NaN,2,2,3,1,2,54,2
88732,72.0,168.0,7,7,2,0,NaN,7,2,3,...,NaN,NaN,NaN,NaN,2,2,2,1,44,1
88733,87.0,163.0,6,0,0,7,2,2,NaN,1,...,NaN,NaN,NaN,2,2,2,1,1,32,2
88734,89.0,168.0,3,3,0,0,NaN,6,2,3,...,NaN,NaN,NaN,2,2,3,1,1,54,1
88735,62.0,186.0,6,2,0,7,2,4,NaN,5,...,NaN,NaN,NaN,NaN,2,3,1,1,32,1

In [16]:
import dataframe_image as dfi

condicoes = [
    (df_hipertensao['P018'] == 9),

    (df_hipertensao['P019'] == 9),

    (df_hipertensao['P018'] < 5),

    (df_hipertensao['P018'] >= 5) & (~df_hipertensao['P019'].isna())
]

escolhas = [
    88,

    99,    

    df_hipertensao['P018'],

    (df_hipertensao['P018'] * df_hipertensao['P019'])
]

df_hipertensao['consumo_semanal_frutas'] = np.select(condicoes, escolhas, default=np.nan)
df_hipertensao['consumo_semanal_frutas'] = df_hipertensao['consumo_semanal_frutas'].astype('Int64')

dfi.export(
    df_hipertensao[['P018', 'P019', 'consumo_semanal_frutas']].head(10),
    'img_df/consumo_semanal_frutas.png',
    table_conversion='matplotlib'
)


df_hipertensao[['P018', 'P019', 'consumo_semanal_frutas']].head(10)

  P018 P019  consumo_semanal_frutas
0    3  NaN                       3
1    0  NaN                       0
2    7  2.0                      14
3    3  NaN                       3
4    3  NaN                       3
5    1  NaN                       1
6    7  2.0                      14
7    3  NaN                       3
8    7  1.0                       7
9    3  NaN                       3

In [17]:
df_hipertensao['P018'].describe()

count     88736
unique        8
top           7
freq      28474
Name: P018, dtype: int64

In [18]:
condicoes = [
    (df_hipertensao['P034'] == '2'),  # não pratica atividade física
    (df_hipertensao['P034'] == '9'),  # resposta ignorada/não sabe
    (df_hipertensao['P034'] != 2) & (df_hipertensao['P034'] != 9)  # demais casos
]

# Escolhas correspondentes
escolhas = [
    0,
    9,
    df_hipertensao['P035']
]

# Criação da nova coluna
df_hipertensao['pratica_semanal_atv_fis'] = np.select(condicoes, escolhas, default=np.nan)
df_hipertensao['pratica_semanal_atv_fis'] = df_hipertensao['pratica_semanal_atv_fis'].astype('Int64')

# Exporta amostra como imagem (igual ao seu padrão anterior)
dfi.export(
    df_hipertensao[['P034', 'P035', 'pratica_semanal_atv_fis']].head(10),
    'img_df/pratica_semanal_atv_fis.png',
    table_conversion='matplotlib'
)

# Mostra as primeiras linhas
df_hipertensao[['P034', 'P035', 'pratica_semanal_atv_fis']].head(10)

  P034 P035  pratica_semanal_atv_fis
0    1  1.0                        1
1    2  NaN                        0
2    2  NaN                        0
3    1  3.0                        3
4    1  1.0                        1
5    2  NaN                        0
6    1  7.0                        7
7    2  NaN                        0
8    1  7.0                        7
9    2  NaN                        0

In [19]:
condicoes = [
    (df_hipertensao['P034'] == '2'),  # não pratica atividade física
    (df_hipertensao['P034'] == '9'),  # resposta ignorada/não sabe
    (df_hipertensao['P034'] != 2) & (df_hipertensao['P034'] != 9)  # demais casos
]

escolhas = [
    0,
    9,
    df_hipertensao['P03701']
]

df_hipertensao['horas_atv_fis'] = np.select(condicoes, escolhas, default=np.nan)
df_hipertensao['horas_atv_fis'] = df_hipertensao['horas_atv_fis'].astype('Int64')

dfi.export(
    df_hipertensao[['P034', 'P03701', 'horas_atv_fis']].head(10),
    'img_df/horas_atv_fis.png',
    table_conversion='matplotlib'
)

df_hipertensao[['P034', 'P03701', 'horas_atv_fis']].head(10)

  P034 P03701  horas_atv_fis
0    1    0.0              0
1    2    NaN              0
2    2    NaN              0
3    1    1.0              1
4    1    0.0              0
5    2    NaN              0
6    1    2.0              2
7    2    NaN              0
8    1    2.0              2
9    2    NaN              0

In [20]:
condicoes = [
    (df_hipertensao['P034'] == '2'),  # não pratica atividade física
    (df_hipertensao['P034'] == '9'),  # resposta ignorada/não sabe
    (df_hipertensao['P034'] != 2) & (df_hipertensao['P034'] != 9)  # demais casos
]

escolhas = [
    0,
    9,
    df_hipertensao['P03702']
]

df_hipertensao['minutos_atv_fis'] = np.select(condicoes, escolhas, default=np.nan)
df_hipertensao['minutos_atv_fis'] = df_hipertensao['minutos_atv_fis'].astype('Int64')

dfi.export(
    df_hipertensao[['P034', 'P03702', 'minutos_atv_fis']].head(10),
    'img_df/minutos_atv_fis.png',
    table_conversion='matplotlib'
)

df_hipertensao[['P034', 'P03702', 'minutos_atv_fis']].head(10)

  P034 P03702  minutos_atv_fis
0    1   30.0               30
1    2    NaN                0
2    2    NaN                0
3    1    0.0                0
4    1   30.0               30
5    2    NaN                0
6    1    0.0                0
7    2    NaN                0
8    1    0.0                0
9    2    NaN                0

In [21]:
aux = df_hipertensao[df_hipertensao['minutos_atv_fis'].isna()]
aux[['P034', 'P035', 'horas_atv_fis']]

      P034 P035  horas_atv_fis
10       1  0.0           <NA>
47       1  0.0           <NA>
54       1  0.0           <NA>
62       1  0.0           <NA>
68       1  0.0           <NA>
...    ...  ...            ...
88522    1  0.0           <NA>
88525    1  0.0           <NA>
88570    1  0.0           <NA>
88593    1  0.0           <NA>
88672    1  0.0           <NA>

[1165 rows x 3 columns]

In [22]:
condicoes = [
    (df_hipertensao['P00901'] < 5),
    (df_hipertensao['P00901'] == 9),
    (df_hipertensao['P01001'] == '9'),
    (df_hipertensao['P00901'] >= 5) & (df_hipertensao['P00901'] != 9)
]

# Escolhas — todos numéricos (Int64)
escolhas = [
    0,
    9,
    9,
    df_hipertensao['P01001'].astype('Int64') * df_hipertensao['P00901']
]

# Nova coluna
df_hipertensao['consumo_semanal_verdura_legume'] = np.select(condicoes, escolhas, default=np.nan)
df_hipertensao['consumo_semanal_verdura_legume'] = df_hipertensao['consumo_semanal_verdura_legume'].astype('Int64')

# Exporta imagem (10 primeiras linhas)
dfi.export(
    df_hipertensao[['P00901', 'P01001', 'consumo_semanal_verdura_legume']].head(10),
    'img_df/consumo_semanal_verdura_legume.png',
    table_conversion='matplotlib'
)

# Exibe amostra
df_hipertensao[['P00901', 'P01001', 'consumo_semanal_verdura_legume']].head(10)

  P00901 P01001  consumo_semanal_verdura_legume
0      1    NaN                               0
1      4    NaN                               0
2      7      1                               7
3      3    NaN                               0
4      3    NaN                               0
5      0    NaN                               0
6      7      2                              14
7      2    NaN                               0
8      7      1                               7
9      5      2                              10

In [23]:
condicoes = [
    (df_hipertensao['Q06306'] == '1'),
    (df_hipertensao['Q06306'] == '2'),
    (df_hipertensao['Q06306'] == '9')
]

# --- INFARTO ---
escolhas_infarto = [
    df_hipertensao['Q06307'],
    '2',
    '9'
]
df_hipertensao['infarto'] = np.select(condicoes, escolhas_infarto, default=np.nan)

# --- ANGINA ---
escolhas_angina = [
    df_hipertensao['Q06308'],
    '2',
    '9'
]
df_hipertensao['angina'] = np.select(condicoes, escolhas_angina, default=np.nan)

# --- INSUFICIÊNCIA CARDÍACA ---
escolhas_insuf = [
    df_hipertensao['Q06309'],
    '2',
    '9'
]
df_hipertensao['insuficiencia_cardiaca'] = np.select(condicoes, escolhas_insuf, default=np.nan)

# --- ARRITMIA ---
escolhas_arritmia = [
    df_hipertensao['Q06310'],
    '2',
    '9'
]
df_hipertensao['arritmia'] = np.select(condicoes, escolhas_arritmia, default=np.nan)

# --- OUTRA DOENÇA CARDÍACA ---
escolhas_outra = [
    df_hipertensao['Q06311'],
    '2',
    '9'
]
df_hipertensao['outra_doenca_cardiaca'] = np.select(condicoes, escolhas_outra, default=np.nan)

# Exporta imagem de exemplo (pode trocar conforme quiser)
dfi.export(
    df_hipertensao[['Q06306', 'Q06307', 'Q06308', 'Q06309', 'Q06310', 'Q06311',
                    'infarto', 'angina', 'insuficiencia_cardiaca', 'arritmia', 'outra_doenca_cardiaca']].head(10),
    'img_df/doencas_cardiacas.png',
    table_conversion='matplotlib'
)

# Visualiza as primeiras linhas
df_hipertensao[['Q06306', 'Q06307', 'Q06308', 'Q06309', 'Q06310', 'Q06311',
                'infarto', 'angina', 'insuficiencia_cardiaca', 'arritmia', 'outra_doenca_cardiaca']].head(10)

,Q06306,Q06307,Q06308,Q06309,Q06310,Q06311,infarto,angina,insuficiencia_cardiaca,arritmia,outra_doenca_cardiaca
0,2,NaN,NaN,NaN,NaN,NaN,2,2,2,2,2
1,2,NaN,NaN,NaN,NaN,NaN,2,2,2,2,2
2,2,NaN,NaN,NaN,NaN,NaN,2,2,2,2,2
3,2,NaN,NaN,NaN,NaN,NaN,2,2,2,2,2
4,2,NaN,NaN,NaN,NaN,NaN,2,2,2,2,2
5,2,NaN,NaN,NaN,NaN,NaN,2,2,2,2,2
6,2,NaN,NaN,NaN,NaN,NaN,2,2,2,2,2
7,2,NaN,NaN,NaN,NaN,NaN,2,2,2,2,2
8,2,NaN,NaN,NaN,NaN,NaN,2,2,2,2,2
9,2,NaN,NaN,NaN,NaN,NaN,2,2,2,2,2

In [24]:
colunas_para_remover = [
    'P019', 'P029', 'P035', 'P03701', 'P03702', 'P02401', 'P01001',
    'Q06307', 'Q06308', 'Q06309', 'Q06310', 'Q06311'
]

df_hipertensao = df_hipertensao.drop(columns=colunas_para_remover)

# Exibe as primeiras linhas para confirmar
df_hipertensao.head()

,P00104,P00404,P01101,P013,P015,P023,P00901,P018,P02001,P02002,...,consumo_semanal_frutas,pratica_semanal_atv_fis,horas_atv_fis,minutos_atv_fis,consumo_semanal_verdura_legume,infarto,angina,insuficiencia_cardiaca,arritmia,outra_doenca_cardiaca
0,60.0,145.0,3,6,3,7,1,3,7,1,...,3,1,0,30,0,2,2,2,2,2
1,65.0,152.0,4,2,0,0,4,0,0,2,...,0,0,0,0,0,2,2,2,2,2
2,77.0,155.0,7,0,3,0,7,7,0,0,...,14,0,0,0,7,2,2,2,2,2
3,56.0,159.0,7,3,3,0,3,3,0,3,...,3,3,1,0,0,2,2,2,2,2
4,55.0,176.0,3,2,1,7,3,3,2,1,...,3,1,0,30,0,2,2,2,2,2

In [25]:
# Seleciona apenas colunas que possuem pelo menos um valor nulo
colunas_com_nulos = df_hipertensao.columns[df_hipertensao.isna().any()].tolist()

dfi.export(
    df_hipertensao[colunas_com_nulos][df_hipertensao[colunas_com_nulos].isna().any(axis=1)].head(10),
    'img_df/nulos_faltantes.png',
    table_conversion='matplotlib'
)

# Exibe as linhas que possuem valores nulos nessas colunas
df_hipertensao[colunas_com_nulos][df_hipertensao[colunas_com_nulos].isna().any(axis=1)]

      P00104 P00404 Q060  horas_atv_fis  minutos_atv_fis
10      52.0  149.0    1           <NA>             <NA>
47      78.0  172.0    2           <NA>             <NA>
54      76.0  178.0    2           <NA>             <NA>
57      49.0  151.0  NaN              0                0
58      78.0  172.0  NaN              0               40
...      ...    ...  ...            ...              ...
88722   82.0  169.0  NaN              0                0
88723   68.0  173.0  NaN              0                0
88727   78.0  185.0  NaN              0                0
88732   72.0  168.0  NaN              0                0
88735   62.0  186.0  NaN              1                0

[8430 rows x 5 columns]

In [26]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from missforest import MissForest

# --- 1. PRÉ-PROCESSAMENTO (Como antes) ---
df_processado = df_hipertensao.copy()
categoricos_nomes = df_processado.select_dtypes(exclude=[np.number]).columns
mapeamentos_categoricos = {}

if not categoricos_nomes.empty:
    print(f"Codificando colunas: {categoricos_nomes.tolist()}")
    for col in categoricos_nomes:
        df_processado[col] = df_processado[col].astype('category')
        mapeamentos_categoricos[col] = dict(enumerate(df_processado[col].cat.categories))
        df_processado[col] = df_processado[col].cat.codes
        df_processado[col] = df_processado[col].replace(-1, np.nan)
    print("Codificação concluída.")
else:
    print("O DataFrame já era numérico.")

# --- 2. NOVO PASSO DE FORÇAR O TIPO ---
# Vamos forçar TUDO para float. Isso padroniza a entrada.
try:
    df_processado = df_processado.astype(float)
    print("\nSUCESSO: Todas as colunas foram forçadas para 'float'.")
except Exception as e:
    print(f"\nERRO ao forçar para float: {e}")
    print("Verifique os tipos de dados novamente com df_processado.info()")

# --- 3. DIVISÃO TREINO/TESTE ---
colunas_originais = df_processado.columns
train_df, test_df = train_test_split(df_processado, test_size=.3, shuffle=True,
                                   random_state=42)

# --- 4. IMPUTAÇÃO ---
# (Avisamos quais colunas tratar como categóricas)
# (Usamos 'categoricos_nomes' que pegamos lá no início)
imputer = MissForest(categorical=categoricos_nomes.tolist())

print("\nIniciando imputação nos dados de TREINO...")
train_imputed_array = imputer.fit_transform(x=train_df)
print("Treino imputado.")

print("Aplicando imputação nos dados de TESTE...")
test_imputed_array = imputer.transform(x=test_df)
print("Teste imputado.")

# --- 5. CONVERTER DE VOLTA PARA DATAFRAME ---
df_train_imputado = pd.DataFrame(train_imputed_array, columns=colunas_originais)
df_test_imputado = pd.DataFrame(test_imputed_array, columns=colunas_originais)

print("\n--- Head do DataFrame de Treino Imputado ---")
display(df_train_imputado.head())

Codificando colunas: ['P00104', 'P00404', 'P01101', 'P013', 'P015', 'P023', 'P00901', 'P018', 'P02001', 'P02002', 'P02501', 'P02602', 'P02601', 'P027', 'P034', 'P050', 'Q00201', 'Q06306', 'Q060', 'Q124', 'N001', 'N010', 'N011', 'C008', 'C006', 'infarto', 'angina', 'insuficiencia_cardiaca', 'arritmia', 'outra_doenca_cardiaca']
Codificação concluída.

SUCESSO: Todas as colunas foram forçadas para 'float'.

Iniciando imputação nos dados de TREINO...

/home/ettore/.local/share/mamba/envs/datascience/lib/python3.12/site-packages/missforest/missforest.py:333: UserWarning: Label encoding is no longer performed by default. Users will have to perform categorical features encoding by themselves.
  warnings.warn("Label encoding is no longer performed by default. "
100%|██████████| 5/5 [05:54<00:00, 70.85s/it]
/home/ettore/.local/share/mamba/envs/datascience/lib/python3.12/site-packages/missforest/missforest.py:490: UserWarning: Label encoding is no longer performed by default. Users will have to perform categorical features encoding by themselves.
  warnings.warn("Label encoding is no longer performed by default. "
/home/ettore/.local/share/mamba/envs/datascience/lib/python3.12/site-packages/missforest/missforest.py:494: UserWarning: In version 4.2.3, estimator fitting process is moved to `fit` method. `MissForest` will now imputes unseen missing values with fitted estimators with `transform` method. To retain the old behaviour, use `fit_transform` to fit the whole unseen data instead.
  warnings.warn(f"In version {VERSION}, estimator fitting process "
100%|██████████| 5/5 [00:00<00:00, 22.05it/s]
/home/ettore/.local/share/mamba/envs/datascience/lib/python3.12/site-packages/missforest/missforest.py:490: UserWarning: Label encoding is no longer performed by default. Users will have to perform categorical features encoding by themselves.
  warnings.warn("Label encoding is no longer performed by default. "
/home/ettore/.local/share/mamba/envs/datascience/lib/python3.12/site-packages/missforest/missforest.py:494: UserWarning: In version 4.2.3, estimator fitting process is moved to `fit` method. `MissForest` will now imputes unseen missing values with fitted estimators with `transform` method. To retain the old behaviour, use `fit_transform` to fit the whole unseen data instead.
  warnings.warn(f"In version {VERSION}, estimator fitting process "

Treino imputado.
Aplicando imputação nos dados de TESTE...

  0%|          | 0/5 [00:00<?, ?it/s]/home/ettore/.local/share/mamba/envs/datascience/lib/python3.12/site-packages/missforest/missforest.py:285: UserWarning: Both PFC and NRMSE have increased.
  warnings.warn("Both PFC and NRMSE have increased.")
/home/ettore/.local/share/mamba/envs/datascience/lib/python3.12/site-packages/missforest/missforest.py:574: UserWarning: Stopping criterion triggered during transform. Before last imputation matrix will be returned.
  warnings.warn(
 40%|████      | 2/5 [00:00<00:00, 26.20it/s]

Teste imputado.

--- Head do DataFrame de Treino Imputado ---

,P00104,P00404,P01101,P013,P015,P023,P00901,P018,P02001,P02002,...,consumo_semanal_frutas,pratica_semanal_atv_fis,horas_atv_fis,minutos_atv_fis,consumo_semanal_verdura_legume,infarto,angina,insuficiencia_cardiaca,arritmia,outra_doenca_cardiaca
47748,56.0,53.0,5.0,1.0,1.0,7.0,5.0,2.0,3.0,2.0,...,2.0,4.0,0.0,50.0,5.0,1.0,1.0,1.0,1.0,1.0
62521,41.0,42.0,7.0,1.0,1.0,7.0,3.0,7.0,0.0,0.0,...,7.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0
54151,35.0,26.0,0.0,6.0,0.0,0.0,7.0,7.0,1.0,0.0,...,7.0,3.0,0.0,35.0,7.0,1.0,1.0,1.0,1.0,1.0
55840,40.0,40.0,3.0,3.0,1.0,0.0,7.0,7.0,0.0,0.0,...,7.0,0.0,0.0,0.0,14.0,1.0,1.0,1.0,1.0,1.0
3053,64.0,35.0,3.0,4.0,0.0,2.0,3.0,4.0,0.0,0.0,...,4.0,5.0,1.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0

In [27]:
df_processado = pd.concat(
    [df_train_imputado, df_test_imputado], 
    ignore_index=True
)

display(df_processado.head())

,P00104,P00404,P01101,P013,P015,P023,P00901,P018,P02001,P02002,...,consumo_semanal_frutas,pratica_semanal_atv_fis,horas_atv_fis,minutos_atv_fis,consumo_semanal_verdura_legume,infarto,angina,insuficiencia_cardiaca,arritmia,outra_doenca_cardiaca
0,56.0,53.0,5.0,1.0,1.0,7.0,5.0,2.0,3.0,2.0,...,2.0,4.0,0.0,50.0,5.0,1.0,1.0,1.0,1.0,1.0
1,41.0,42.0,7.0,1.0,1.0,7.0,3.0,7.0,0.0,0.0,...,7.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0
2,35.0,26.0,0.0,6.0,0.0,0.0,7.0,7.0,1.0,0.0,...,7.0,3.0,0.0,35.0,7.0,1.0,1.0,1.0,1.0,1.0
3,40.0,40.0,3.0,3.0,1.0,0.0,7.0,7.0,0.0,0.0,...,7.0,0.0,0.0,0.0,14.0,1.0,1.0,1.0,1.0,1.0
4,64.0,35.0,3.0,4.0,0.0,2.0,3.0,4.0,0.0,0.0,...,4.0,5.0,1.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0

In [28]:
# --- 1. FAÇA UMA CÓPIA PARA REVERTER ---
df_revertido = df_processado.copy()

# Pega os dtypes de antes da imputação (ex: int8, float64)
tipos_originais_processados = df_processado.dtypes 

print("Iniciando reversão (decodificação) do DataFrame completo...")

# --- 2. LOOP DE REVERSÃO ---
for col_nome in df_revertido.columns:
    
    # Se esta coluna estava no nosso mapa de decodificação...
    if col_nome in mapeamentos_categoricos:
        
        mapeamento = mapeamentos_categoricos[col_nome]
        
        # Arredonda (ex: 0.99 -> 1), converte para int (1.0 -> 1)
        # e usa o mapa (1 -> 'Sim')
        df_revertido[col_nome] = df_revertido[col_nome].round(0).astype(int).map(mapeamento)
        
        # Converte de volta para 'category' para economizar memória
        df_revertido[col_nome] = df_revertido[col_nome].astype('category')

    # Se era originalmente um inteiro (mas não uma categoria)...
    elif 'int' in str(tipos_originais_processados.get(col_nome)).lower():
        
        # Arredonda e converte de float para int (ex: 58.0 -> 58)
        df_revertido[col_nome] = df_revertido[col_nome].round(0).astype(int)
        
    # Colunas float (como Peso) ficam como estão (float)

print("Processo concluído!")

# --- 3. VERIFIQUE O RESULTADO FINAL ---
print("\n--- DataFrame Completo, Imputado e Revertido ---")
display(df_revertido.head())

print("\n--- Tipos de Dados Finais ---")
df_revertido.info()

Iniciando reversão (decodificação) do DataFrame completo...
Processo concluído!

--- DataFrame Completo, Imputado e Revertido ---

,P00104,P00404,P01101,P013,P015,P023,P00901,P018,P02001,P02002,...,consumo_semanal_frutas,pratica_semanal_atv_fis,horas_atv_fis,minutos_atv_fis,consumo_semanal_verdura_legume,infarto,angina,insuficiencia_cardiaca,arritmia,outra_doenca_cardiaca
0,85.0,181.0,5,1,1,7,5,2,3,2,...,2.0,4.0,0.0,50.0,5.0,2,2,2,2,2
1,70.0,170.0,7,1,1,7,3,7,0,0,...,7.0,0.0,0.0,0.0,0.0,2,2,2,2,2
2,64.0,154.0,0,6,0,0,7,7,1,0,...,7.0,3.0,0.0,35.0,7.0,2,2,2,2,2
3,69.0,168.0,3,3,1,0,7,7,0,0,...,7.0,0.0,0.0,0.0,14.0,2,2,2,2,2
4,93.0,163.0,3,4,0,2,3,4,0,0,...,4.0,5.0,1.0,0.0,0.0,2,2,2,2,2

--- Tipos de Dados Finais ---
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 88736 entries, 0 to 88735
Data columns (total 35 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   P00104                          88736 non-null  category
 1   P00404                          88736 non-null  category
 2   P01101                          88736 non-null  category
 3   P013                            88736 non-null  category
 4   P015                            88736 non-null  category
 5   P023                            88736 non-null  category
 6   P00901                          88736 non-null  category
 7   P018                            88736 non-null  category
 8   P02001                          88736 non-null  category
 9   P02002                          88736 non-null  category
 10  P02501                          88736 non-null  category
 11  P02602                          88736 non-null  category
 12  P02601                          88736 non-null  category
 13  P027                            88736 non-null  category
 14  P034                            88736 non-null  category
 15  P050                            88736 non-null  category
 16  Q00201                          88736 non-null  category
 17  Q06306                          88736 non-null  category
 18  Q060                            88736 non-null  category
 19  Q124                            88736 non-null  category
 20  N001                            88736 non-null  category
 21  N010                            88736 non-null  category
 22  N011                            88736 non-null  category
 23  C008                            88736 non-null  category
 24  C006                            88736 non-null  category
 25  consumo_semanal_frutas          88736 non-null  float64
 26  pratica_semanal_atv_fis         88736 non-null  float64
 27  horas_atv_fis                   88736 non-null  float64
 28  minutos_atv_fis                 88736 non-null  float64
 29  consumo_semanal_verdura_legume  88736 non-null  float64
 30  infarto                         88736 non-null  category
 31  angina                          88736 non-null  category
 32  insuficiencia_cardiaca          88736 non-null  category
 33  arritmia                        88736 non-null  category
 34  outra_doenca_cardiaca           88736 non-null  category
dtypes: category(30), float64(5)
memory usage: 6.0 MB

In [29]:
colunas_texto_para_num = [
    'P01101', 'P013', 'P015', 'P023', 'P00901', 
    'P018', 'P02001', 'P02002', 'P02501', 'P02602', 
    'C008', 'C006', 'P00104', 'P00404'
]

colunas_float_para_int = [
    'consumo_semanal_frutas', 'pratica_semanal_atv_fis', 'horas_atv_fis', 
    'minutos_atv_fis', 'consumo_semanal_verdura_legume'
]

print("Convertendo colunas de texto para número...")
for col in colunas_texto_para_num:
    if col in df_revertido.columns:
        df_revertido[col] = pd.to_numeric(
            df_revertido[col]
        )

todas_colunas_para_int = list(set(colunas_texto_para_num + colunas_float_para_int))

print("\n--- Conversão Concluída ---")
df_revertido.info()

Convertendo colunas de texto para número...

--- Conversão Concluída ---
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 88736 entries, 0 to 88735
Data columns (total 35 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   P00104                          88736 non-null  float64
 1   P00404                          88736 non-null  float64
 2   P01101                          88736 non-null  int64
 3   P013                            88736 non-null  int64
 4   P015                            88736 non-null  int64
 5   P023                            88736 non-null  int64
 6   P00901                          88736 non-null  int64
 7   P018                            88736 non-null  int64
 8   P02001                          88736 non-null  int64
 9   P02002                          88736 non-null  int64
 10  P02501                          88736 non-null  int64
 11  P02602                          88736 non-null  int64
 12  P02601                          88736 non-null  category
 13  P027                            88736 non-null  category
 14  P034                            88736 non-null  category
 15  P050                            88736 non-null  category
 16  Q00201                          88736 non-null  category
 17  Q06306                          88736 non-null  category
 18  Q060                            88736 non-null  category
 19  Q124                            88736 non-null  category
 20  N001                            88736 non-null  category
 21  N010                            88736 non-null  category
 22  N011                            88736 non-null  category
 23  C008                            88736 non-null  int64
 24  C006                            88736 non-null  int64
 25  consumo_semanal_frutas          88736 non-null  float64
 26  pratica_semanal_atv_fis         88736 non-null  float64
 27  horas_atv_fis                   88736 non-null  float64
 28  minutos_atv_fis                 88736 non-null  float64
 29  consumo_semanal_verdura_legume  88736 non-null  float64
 30  infarto                         88736 non-null  category
 31  angina                          88736 non-null  category
 32  insuficiencia_cardiaca          88736 non-null  category
 33  arritmia                        88736 non-null  category
 34  outra_doenca_cardiaca           88736 non-null  category
dtypes: category(16), float64(7), int64(12)
memory usage: 14.2 MB

In [30]:
df_revertido.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 88736 entries, 0 to 88735
Data columns (total 35 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   P00104                          88736 non-null  float64
 1   P00404                          88736 non-null  float64
 2   P01101                          88736 non-null  int64
 3   P013                            88736 non-null  int64
 4   P015                            88736 non-null  int64
 5   P023                            88736 non-null  int64
 6   P00901                          88736 non-null  int64
 7   P018                            88736 non-null  int64
 8   P02001                          88736 non-null  int64
 9   P02002                          88736 non-null  int64
 10  P02501                          88736 non-null  int64
 11  P02602                          88736 non-null  int64
 12  P02601                          88736 non-null  category
 13  P027                            88736 non-null  category
 14  P034                            88736 non-null  category
 15  P050                            88736 non-null  category
 16  Q00201                          88736 non-null  category
 17  Q06306                          88736 non-null  category
 18  Q060                            88736 non-null  category
 19  Q124                            88736 non-null  category
 20  N001                            88736 non-null  category
 21  N010                            88736 non-null  category
 22  N011                            88736 non-null  category
 23  C008                            88736 non-null  int64
 24  C006                            88736 non-null  int64
 25  consumo_semanal_frutas          88736 non-null  float64
 26  pratica_semanal_atv_fis         88736 non-null  float64
 27  horas_atv_fis                   88736 non-null  float64
 28  minutos_atv_fis                 88736 non-null  float64
 29  consumo_semanal_verdura_legume  88736 non-null  float64
 30  infarto                         88736 non-null  category
 31  angina                          88736 non-null  category
 32  insuficiencia_cardiaca          88736 non-null  category
 33  arritmia                        88736 non-null  category
 34  outra_doenca_cardiaca           88736 non-null  category
dtypes: category(16), float64(7), int64(12)
memory usage: 14.2 MB

In [31]:
df_revertido['minutos_semanais'] = df_revertido['minutos_atv_fis'] + (df_revertido['horas_atv_fis']*60)
df_revertido['minutos_atv_fis_semana'] = df_revertido['minutos_semanais'] * df_revertido['pratica_semanal_atv_fis']

df_revertido['IMC'] = df_revertido['P00104'] / ((df_revertido['P00404']/100) ** 2)
# Você precisa salvar o resultado de volta
df_revertido = df_revertido.drop(columns=[
    'minutos_semanais', 'horas_atv_fis', 'minutos_atv_fis', 
    'P034', 'P00104', 'P00404', 'pratica_semanal_atv_fis'
])
df_revertido

,P01101,P013,P015,P023,P00901,P018,P02001,P02002,P02501,P02602,...,C006,consumo_semanal_frutas,consumo_semanal_verdura_legume,infarto,angina,insuficiencia_cardiaca,arritmia,outra_doenca_cardiaca,minutos_atv_fis_semana,IMC
0,5,1,1,7,5,2,3,2,3,0,...,1,2.0,5.0,2,2,2,2,2,200.0,25.945484
1,7,1,1,7,3,7,0,0,6,0,...,2,7.0,0.0,2,2,2,2,2,0.0,24.221453
2,0,6,0,0,7,7,1,0,2,0,...,2,7.0,7.0,2,2,2,2,2,105.0,26.986001
3,3,3,1,0,7,7,0,0,1,0,...,2,7.0,14.0,2,2,2,2,2,0.0,24.447279
4,3,4,0,2,3,4,0,0,0,0,...,2,4.0,0.0,2,2,2,2,2,300.0,35.003199
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88731,2,3,1,0,3,2,3,0,0,0,...,2,2.0,0.0,2,2,2,2,2,0.0,39.447732
88732,2,2,1,3,3,3,0,1,0,0,...,1,3.0,0.0,2,2,2,2,2,900.0,26.709402
88733,2,3,1,3,3,2,1,2,1,0,...,1,2.0,0.0,2,2,2,2,2,0.0,31.221304
88734,3,4,1,3,7,7,1,1,0,0,...,2,14.0,7.0,2,2,2,2,2,180.0,27.434842
88735,3,3,0,0,3,1,7,7,1,1,...,1,1.0,0.0,2,2,2,2,2,0.0,23.456790

In [32]:
df_revertido.to_csv("dados_sem_nulos.csv", index=False)

In [33]:
dicionario = pd.read_excel("dicionarios/dicionario_PNS_microdados_2019_23062023.xlsx", header=1)
dic_limpo = dicionario.drop(dicionario.columns[[0, 1, 3, 5, 6]], axis=1)
dic_limpo = dic_limpo.rename(columns={
    dic_limpo.columns[0]: "codigo",
    dic_limpo.columns[1]: "descricao"
})
dic_limpo.dropna(subset=['codigo'], inplace=True)
dic_limpo.reset_index(drop=True, inplace=True)

dic_limpo = dic_limpo[dic_limpo['codigo'].isin(df_revertido.columns)].reset_index(drop=True)

dic_limpo['codigo'] = pd.Categorical(dic_limpo['codigo'], categories=df_revertido.columns, ordered=True)
dic_limpo = dic_limpo.sort_values('codigo').reset_index(drop=True)

tipos_das_colunas = df_revertido.dtypes

dic_limpo['tipo'] = dic_limpo['codigo'].map(tipos_das_colunas)

dic_limpo['tipo'] = dic_limpo['tipo'].astype(str)

dic_limpo.to_csv('dicionarios/dicionario_sem_nulos.csv', index=False, sep="|")

print("Dicionário de dados com tipos de coluna:")
display(dic_limpo)

Dicionário de dados com tipos de coluna:

    codigo                                          descricao      tipo
0   P01101  Em quantos dias da semana o(a) Sr(a) costuma c...     int64
1     P013  Em quantos dias da semana o(a) Sr(a) costuma c...     int64
2     P015  Em quantos dias da semana o(a) Sr(a) costuma c...     int64
3     P023  Em quantos dias da semana o(a) Sr(a) costuma t...     int64
4   P00901  Em quantos dias da semana, o(a) Sr(a) costuma ...     int64
5     P018  Em quantos dias da semana o(a) Sr(a) costuma c...     int64
6   P02001  Em quantos dias da semana o(a) Sr(a) costuma t...     int64
7   P02002  Em quantos dias da semana o(a) Sr(a) costuma t...     int64
8   P02501  Em quantos dias da semana o(a) Sr(a) costuma c...     int64
9   P02602  Em quantos dias da semana o(a) Sr(a) costuma s...     int64
10  P02601  Considerando a comida preparada na hora e os a...  category
11    P027  Com que frequência o(a) Sr(a) costuma consumir...  category
12    P050  Atualmente, o(a) Sr(a) fuma algum produto do t...  category
13  Q00201  Algum médico já lhe deu o diagnóstico de hiper...  category
14  Q06306  Algum médico já lhe deu o diagnóstico de uma d...  category
15    Q060  Algum médico já lhe deu o diagnóstico de coles...  category
16    Q124  Algum médico já lhe deu o diagnóstico de insuf...  category
17    N001       Em geral, como o(a) Sr(a) avalia a sua saúde  category
18    N010  Nas duas últimas semanas, com que frequência o...  category
19    N011  Nas duas últimas semanas, com que frequência o...  category
20    C008             Idade do morador na data de referência     int64
21    C006                                               Sexo     int64